= form_with(model: program, class: "needs-validation") do |f|
  - if program.errors.any?
    .alert.alert-danger
      %h5.alert-heading
        = pluralize(program.errors.count, "error")
        prohibited this program from being saved:
      %ul.mb-0
        - program.errors.full_messages.each do |message|
          %li= message

  %fieldset.form-section
    %legend Program Info
    .row
      .col-md-6.mb-3
        = f.label :program_code, "Program Code", class: "form-label"
        %button.help-popover-trigger{type: "button", tabindex: "0"}
          %span.material-symbols{style: "font-size: 16px"} help
          %span.help-popover-content 4-digit code identifying this program. Used for student imports.
        .input-group
          %span.input-group-text
            %span.material-symbols pin
          = f.text_field :program_code, class: "form-control #{'is-invalid' if program.errors[:program_code].any?}", maxlength: 4
          - if program.errors[:program_code].any?
            .invalid-feedback= program.errors[:program_code].first
      .col-md-6.mb-3
        = f.label :name_en, "Name (English)", class: "form-label"
        .input-group
          %span.input-group-text
            %span.material-symbols badge
          = f.text_field :name_en, class: "form-control #{'is-invalid' if program.errors[:name_en].any?}"
          - if program.errors[:name_en].any?
            .invalid-feedback= program.errors[:name_en].first
      .col-md-6.mb-3
        = f.label :name_th, "Name (Thai)", class: "form-label"
        .input-group
          %span.input-group-text
            %span.material-symbols translate
          = f.text_field :name_th, class: "form-control"

  %fieldset.form-section
    %legend Degree
    .row
      .col-md-6.mb-3
        = f.label :degree_level, class: "form-label"
        = f.select :degree_level, options_for_select(Program::DEGREE_LEVELS.map { |l| [l.titleize, l, { data: { icon: Program::DEGREE_LEVEL_ICONS[l] } }] }, program.degree_level), {}, class: "form-select #{'is-invalid' if program.errors[:degree_level].any?}", data: { controller: "select2" }
        - if program.errors[:degree_level].any?
          .invalid-feedback= program.errors[:degree_level].first
      .col-md-6.mb-3
        = f.label :degree_name, "Degree Name (English)", class: "form-label"
        .input-group
          %span.input-group-text
            %span.material-symbols workspace_premium
          = f.text_field :degree_name, class: "form-control #{'is-invalid' if program.errors[:degree_name].any?}"
          - if program.errors[:degree_name].any?
            .invalid-feedback= program.errors[:degree_name].first
    .row
      .col-md-6.mb-3
        = f.label :degree_name_th, "Degree Name (Thai)", class: "form-label"
        .input-group
          %span.input-group-text
            %span.material-symbols translate
          = f.text_field :degree_name_th, class: "form-control"

    .row
      .col-md-6.mb-3
        = f.label :field_of_study, class: "form-label"
        .input-group
          %span.input-group-text
            %span.material-symbols menu_book
          = f.text_field :field_of_study, class: "form-control #{'is-invalid' if program.errors[:field_of_study].any?}"
          - if program.errors[:field_of_study].any?
            .invalid-feedback= program.errors[:field_of_study].first
      .col-md-6.mb-3
        = f.label :total_credit, "Total Credits", class: "form-label"
        .input-group
          %span.input-group-text
            %span.material-symbols school
          = f.number_field :total_credit, class: "form-control #{'is-invalid' if program.errors[:total_credit].any?}"
          - if program.errors[:total_credit].any?
            .invalid-feedback= program.errors[:total_credit].first
    .row
      .col-md-6.mb-3
        = f.label :year_started, "Year Started", class: "form-label"
        %button.help-popover-trigger{type: "button", tabindex: "0"}
          %span.material-symbols{style: "font-size: 16px"} help
          %span.help-popover-content Buddhist Era year (e.g. 2540). To convert from CE, add 543.
        .input-group
          %span.input-group-text
            %span.material-symbols calendar_month
          = f.number_field :year_started, class: "form-control #{'is-invalid' if program.errors[:year_started].any?}"
          - if program.errors[:year_started].any?
            .invalid-feedback= program.errors[:year_started].first
      .col-md-6.mb-3
        = f.label :active, class: "form-label d-block"
        .form-check.form-switch
          = f.check_box :active, class: "form-check-input", role: "switch"
          = f.label :active, "Active program", class: "form-check-label"

  = f.submit class: "btn btn-primary"
