.card{"data-controller" => "datatable", "data-datatable-order-value" => "6:desc"}
  .card-body.p-3
    .d-flex.justify-content-between.align-items-center.mb-3
      %h5.card-title.mb-0.fw-semibold.d-flex.align-items-center
        = resource_icon
        All Program Revisions
      - if current_user.admin?
        = link_to "New Program", new_program_path, class: "btn btn-primary btn-sm"
    .table-responsive
      %table.table.table-hover.mb-0{"data-datatable-target" => "table"}
        %thead
          %tr
            %th Code
            %th Group
            %th Short Name
            %th Name
            %th Degree Level
            %th Field of Study
            %th Year Started
            %th Actions
        %tbody
          - @programs.each do |program|
            %tr
              %td= program.program_code
              %td= link_to program.program_group.code, program.program_group
              %td= program.short_name
              %td= program.name_en
              %td
                %span.badge{class: "badge-#{program.degree_level}"}= program.degree_level.titleize
              %td= program.field_of_study
              %td= program.year_started
              %td
                = link_to program, class: "btn-ghost btn-ghost-primary me-1", title: "Show" do
                  %span.material-symbols{style: "font-size: 18px"} visibility
                - if current_user.admin?
                  = link_to edit_program_path(program), class: "btn-ghost btn-ghost-secondary me-1", title: "Edit" do
                    %span.material-symbols{style: "font-size: 18px"} edit
                  = link_to program, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-ghost btn-ghost-danger", title: "Delete" do
                    %span.material-symbols{style: "font-size: 18px"} delete
