.d-flex.justify-content-between.align-items-center.mb-3
  %h1= @user.name
  .d-flex.gap-2
    = link_to "Edit", edit_user_path(@user), class: "btn btn-outline-secondary"
    = link_to "Back", users_path, class: "btn btn-outline-primary"

.card
  .card-body
    %dl.dl-fields.row.mb-0
      %dt.col-sm-3 Username
      %dd.col-sm-9= @user.username

      %dt.col-sm-3 Email
      %dd.col-sm-9= @user.email

      %dt.col-sm-3 Name
      %dd.col-sm-9= @user.name

      %dt.col-sm-3 Role
      %dd.col-sm-9
        %span.badge{class: "badge-#{@user.role}"}= @user.role.titleize

      %dt.col-sm-3 Active
      %dd.col-sm-9
        %span.badge{class: @user.active? ? "badge-active" : "badge-inactive"}
          = @user.active? ? "Active" : "Inactive"

      - if @user.provider.present?
        %dt.col-sm-3 SSO Provider
        %dd.col-sm-9= @user.provider

        %dt.col-sm-3 SSO UID
        %dd.col-sm-9= @user.uid

      %dt.col-sm-3 LLM Consent
      %dd.col-sm-9
        %span.badge{class: @user.llm_consent? ? "badge-active" : "badge-inactive"}
          = @user.llm_consent? ? "Enabled" : "Disabled"

      %dt.col-sm-3 LLM Model
      %dd.col-sm-9
        - if @user.llm_model.present?
          = LLM_CONFIG[:models][@user.llm_model.to_sym]&.dig(:label) || @user.llm_model
        - else
          Default

      %dt.col-sm-3 Last sign in
      %dd.col-sm-9
        = @user.last_sign_in_at&.strftime("%B %d, %Y %H:%M") || "Never"

      %dt.col-sm-3 Created at
      %dd.col-sm-9= @user.created_at.strftime("%B %d, %Y %H:%M")

      %dt.col-sm-3 Updated at
      %dd.col-sm-9= @user.updated_at.strftime("%B %d, %Y %H:%M")

- if current_user.admin?
  .card.mt-3
    .card-body
      .d-flex.justify-content-between.align-items-center.mb-3
        %h5.card-title.mb-0 LINE Account
        - if @user.provider == "line" && @user.uid.present?
          %span.badge.badge-active Linked
        - else
          %span.badge.badge-inactive Not linked

      - if @user.provider == "line" && @user.uid.present?
        = button_to "Unlink LINE Account", unlink_line_user_path(@user), method: :delete, class: "btn btn-outline-danger",
          data: { turbo_confirm: "Are you sure you want to unlink #{@user.name}'s LINE account?" }

      - else
        - if @user.line_link_token.present? && @user.line_link_token_expires_at&.future?
          .alert.alert-info
            %p.mb-1
              %strong Linking code:
            %p.mb-1
              %code= @user.line_link_token
            %p.mb-0.text-body-secondary
              Send
              %code= "link #{@user.line_link_token}"
              to the LINE bot. Expires in #{time_ago_in_words(@user.line_link_token_expires_at)}.

        = button_to "Generate Linking Code", generate_line_code_user_path(@user), method: :post, class: "btn btn-outline-primary"
