!!!
%html{"data-bs-theme" => "dark"}
  %head
    %title= content_for(:title) || "CP API - Sign In"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.d-flex.align-items-center.justify-content-center{style: "min-height: 100vh;"}
    .container
      = yield
